<!DOCTYPE html>
<html>
  <head>
    <title>Unemployment Rates</title>
  </head>
  <body>
    <h1>Select Countries</h1>
    <form action="/chart" method="GET">
      {% for country in countries %}
        <input type="checkbox" name="country" value="{{ country }}">{{ country }}<br>
      {% endfor %}
      <br>
      <input type="submit" value="Submit">
    </form>
    
    <h1>Compare country overtime </h1>
    <form action="/time_chart" method="GET">
      <select name="country">
        {% for country in countries %}
          <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
      </select>
      <br>
      <input type="submit" value="Submit">
  </body>
</html>